<section id="BDA">

    <button class="accordion">Master Big Data Analytics
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <button class="accordion">Master 1
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 1
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Algorithme, graphes et complexité</td>
                            <td>Mardi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. THIAM</td>
                        </tr>
                        <tr>
                            <td>Outils mathématiques et statistiques</td>
                            <td>Calcul matriciel numérique</td>
                            <td>Mardi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. DIAGNE</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>POO et Python</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIALLO</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Le Langage R</td>
                            <td>Mercredi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. SALL</td>
                        </tr>
                        <tr>
                            <td>Outils mathématiques et statistiques</td>
                            <td>Optimisation Continue</td>
                            <td>Jeudi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>Mme FALL</td>
                        </tr>
                        <tr>
                            <td>Outils mathématiques et statistiques</td>
                            <td>Probabilités et Statistiques</td>
                            <td>Jeudi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. SALL</td>
                        </tr>
                        <tr>
                            <td>Humanités I</td>
                            <td>Technique d'Expression et de Communication / digitale</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIONE</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 2
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>

        <button class="accordion">Master 2
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 3
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Données Massives III</td>
                            <td>Big Data Analytics</td>
                            <td>Lundi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIATTARA</td>
                        </tr>
                        <tr>
                            <td>Données Massives III</td>
                            <td>Big Data Analytics</td>
                            <td>Mardi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIATTARA</td>
                        </tr>
                        <tr>
                            <td>Big Data et Applications</td>
                            <td>Analyse des Réseaux sociaux</td>
                            <td>Mardi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. CISSE</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Données Massives III</td>
                            <td>Big Data Analytics</td>
                            <td>Mercredi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. DIATTARA</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Jeudi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Outils mathématiques et statistiques</td>
                            <td>Optimisation Continue</td>
                            <td>Jeudi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. FALL</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 4
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>
        <p style="text-align: center"><a href="https://www.uvs.sn/wp-content/uploads/2019/08/8_ao%C3%BBt_2019_FICHE-FORMATION-co-diplomation-UVS_UT_MASTER-BIG-DATA-ANALYTICS-1.pdf" target="_blank" >Télécharger la maquette</a></p>


    </div>


</section>


