<section id="calcul">

    <button class="accordion">Master Calcul Scientifique
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <button class="accordion">Master 1
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 1
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Introduction à la Modélisation et à la simulation</td>
                            <td>Modélisation (déterministe et stochastique)</td>
                            <td>Lundi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIA</td>
                        </tr>
                        <tr>
                            <td>Introduction à la Modélisation et à la simulation</td>
                            <td>Calcul Scientifique</td>
                            <td>Lundi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. FOFANA</td>
                        </tr>
                        <tr>
                            <td>Mathématiques I</td>
                            <td>Analyse 1</td>
                            <td>Mardi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. KA</td>
                        </tr>
                        <tr>
                            <td>Informatique I</td>
                            <td>Architecture des ordinateurs</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIEYE</td>
                        </tr>
                        <tr>
                            <td>Mathématiques I</td>
                            <td>Algèbre 1</td>
                            <td>Mercredi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. SY</td>
                        </tr>
                        <tr>
                            <td>Introduction à la Modélisation et à la simulation</td>
                            <td>Modélisation (déterministe et stochastique)</td>
                            <td>Jeudi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. DIA</td>
                        </tr>
                        <tr>
                            <td>Informatique I</td>
                            <td>Architecture des ordinateurs</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIEYE</td>
                        </tr>
                        <tr>
                            <td>Statistique I</td>
                            <td>Collecte de données</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. NIASS</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 2
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>

        <button class="accordion">Master 2
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 3
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Statistiques 2</td>
                            <td>Regression linéaire généralisée</td>
                            <td>Lundi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DAFF</td>
                        </tr>
                        <tr>
                            <td>Humanités 2</td>
                            <td>Histoire de l'Afrique</td>
                            <td>Lundi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. SENGHOR</td>
                        </tr>
                        <tr>
                            <td>Humanités 2</td>
                            <td>Civisme et Citoyenneté</td>
                            <td>Mardi</td>
                            <td>15h - 18h</td>
                            <td>A définir</td>
                            <td>M. LO</td>
                        </tr>
                        <tr>
                            <td>Mathématiques 3</td>
                            <td>Cryptographie</td>
                            <td>Mercredi</td>
                            <td>08h - 12h</td>
                            <td>A définir</td>
                            <td>M. MENDY</td>
                        </tr>
                        <tr>
                            <td>Humanités 2</td>
                            <td>Droit du travail</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIAW</td>
                        </tr>
                        <tr>
                            <td>Statistiques 2</td>
                            <td>Regression linéaire généralisée</td>
                            <td>Jeudi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DAFF</td>
                        </tr>
                        <tr>
                            <td>Mathématiques 3</td>
                            <td>Cryptographie</td>
                            <td>Jeudi</td>
                            <td>15h - 18h</td>
                            <td>A définir</td>
                            <td>M. MENDY</td>
                        </tr>
                        <tr>
                            <td>Mathématiques 3</td>
                            <td>Analyse fonctionnelle et  applications.Espaces de Sobolev et distributions</td>
                            <td>Vendredi</td>
                            <td>08h - 12h</td>
                            <td>A définir</td>
                            <td>M. YADE</td>
                        </tr>
                        <tr>
                            <td>Humanités 2</td>
                            <td>Droit du travail</td>
                            <td>Samedi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. DIAW</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 4
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>
        <p style="text-align: center"><a href="https://www.uvs.sn/wp-content/uploads/2021/05/Fiche_formation_MASTER-CALCUL-SCIENTIFIQUE-.pdf" target="_blank" >Télécharger la maquette</a></p>


    </div>


</section>


