<section id="logiciel">

    <button class="accordion">Master Ingénieurie Logicielle
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <button class="accordion">Master 1
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 1
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Lundi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Outils mathématiques et statistiques</td>
                            <td>Optimisation Continue</td>
                            <td>Lundi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. FALL</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Mardi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Jeudi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Outils mathématiques et statistiques</td>
                            <td>Optimisation Continue</td>
                            <td>Jeudi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. FALL</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 2
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>

        <button class="accordion">Master 2
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 3
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Lundi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Outils mathématiques et statistiques</td>
                            <td>Optimisation Continue</td>
                            <td>Lundi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. FALL</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Mardi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Jeudi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                        <tr>
                            <td>Outils mathématiques et statistiques</td>
                            <td>Optimisation Continue</td>
                            <td>Jeudi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. FALL</td>
                        </tr>
                        <tr>
                            <td>Algorithmique et Programmation avancées</td>
                            <td>Programmation fonctionnelle avancée (Scala, MapReduce, Hadoop)</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. MBOUP</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 4
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>
        <p style="text-align: center"><a href="https://www.uvs.sn/wp-content/uploads/2018/02/Maquette_Master_INGENIERIE-LOGICIELLE.pdf" target="_blank" >Télécharger la maquette</a></p>


    </div>


</section>


