<section id="robotique">

    <button class="accordion">Master Robotique
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <button class="accordion">Master 1
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 1
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Commandes et Systèmes 1</td>
                            <td>Automatisme 1</td>
                            <td>Lundi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. TOURE</td>
                        </tr>
                        <tr>
                            <td>Commandes et Systèmes 1</td>
                            <td>Automatique 1</td>
                            <td>Lundi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. CISSE</td>
                        </tr>
                        <tr>
                            <td>Commandes et Systèmes 1</td>
                            <td>Automatisme 1</td>
                            <td>Mardi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. TOURE</td>
                        </tr>
                        <tr>
                            <td>Commandes et Systèmes 1</td>
                            <td>Automatique 1</td>
                            <td>Mardi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. CISSE</td>
                        </tr>
                        <tr>
                            <td>Commandes et Systèmes 1</td>
                            <td>Automatisme 1</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. TOURE</td>
                        </tr>
                        <tr>
                            <td>Commandes et Systèmes 1</td>
                            <td>Automatique 1</td>
                            <td>Mercredi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. CISSE</td>
                        </tr>
                        <tr>
                            <td>Réseaux et Communications</td>
                            <td>Réseaux IP</td>
                            <td>Vendredi</td>
                            <td>15h - 18h</td>
                            <td>A définir</td>
                            <td>M. KEITA</td>
                        </tr>
                        <tr>
                            <td>Réseaux et Communications</td>
                            <td>Transmission Numérique</td>
                            <td>Samedi</td>
                            <td>09h - 12h</td>
                            <td>A définir</td>
                            <td>M. CAMARA</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 2
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>

        <button class="accordion">Master 2
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 3
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Applications de la robotique</td>
                            <td>Robotic Process Automation (RPA)</td>
                            <td>Lundi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. DIOP</td>
                        </tr>
                        <tr>
                            <td>Applications de la robotique</td>
                            <td>Robotic Process Automation (RPA)</td>
                            <td>Mardi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. DIOP</td>
                        </tr>
                        <tr>
                            <td>Systèmes avancés</td>
                            <td>Biomimétisme et robotique</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. GUINIOL</td>
                        </tr>
                        <tr>
                            <td>Applications de la robotique</td>
                            <td>Robotic Process Automation (RPA)</td>
                            <td>Mercredi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. DIOP</td>
                        </tr>
                        <tr>
                            <td>Communication Mobile et IoT RM (optionnel)</td>
                            <td>Dimensionnement des systèmes mécaniques</td>
                            <td>Jeudi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. NKUNKU</td>
                        </tr>
                        <tr>
                            <td>Communication Mobile et IoT RM (optionnel)</td>
                            <td>Introduction au Calcul Intensif et au Big Data</td>
                            <td>Jeudi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. GIRES</td>
                        </tr>
                        <tr>
                            <td>Communication Mobile et IoT RM (optionnel)</td>
                            <td>Dimensionnement des systèmes mécaniques</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. NKUNKU</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 4
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>
        <p style="text-align: center"><a href="https://www.uvs.sn/wp-content/uploads/2021/05/Fiche_formation_MASTER-En-ROBOTIQUE-copie-1.pdf" target="_blank" >Télécharger la maquette</a></p>


    </div>


</section>


