<section id="simulation">

    <button class="accordion">Master Modélisation mathématique analyse et simulation numériques
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <button class="accordion">Master 1
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 1
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Elements d'analyse fonctionnelle</td>
                            <td>Théorie des distributions</td>
                            <td>Lundi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. CISSOKHO</td>
                        </tr>
                        <tr>
                            <td>Statistiques Appliquées</td>
                            <td>Statistique Multivariée</td>
                            <td>Lundi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. AW</td>
                        </tr>
                        <tr>
                            <td>Statistiques Appliquées</td>
                            <td>Statistique Inférentielle</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. BALDE</td>
                        </tr>
                        <tr>
                            <td>Statistiques Appliquées</td>
                            <td>Statistique Multivariée</td>
                            <td>Mercredi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. AW</td>
                        </tr>
                        <tr>
                            <td>Statistiques Appliquées</td>
                            <td>Statistique Inférentielle</td>
                            <td>Jeudi</td>
                            <td>09h - 15h</td>
                            <td>A définir</td>
                            <td>M. BALDE</td>
                        </tr>
                        <tr>
                            <td>Statistiques Appliquées</td>
                            <td>Statistique Multivariée</td>
                            <td>Jeudi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. AW</td>
                        </tr>
                        <tr>
                            <td>Elements d'analyse fonctionnelle</td>
                            <td>Théorie des distributions</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. CISSOKHO</td>
                        </tr>
                        <tr>
                            <td>Humanités</td>
                            <td>Leadership</td>
                            <td>Samedi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. BALL</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 2
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>

        <button class="accordion">Master 2
            <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
        </button>

        <div class="panel">
            <button class="accordion">Semestre 3
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code UE</th>
                            <th>Intitulé</th>
                            <th>Jour</th>
                            <th>Horaire</th>
                            <th>Salle</th>
                            <th>Enseignant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Analyse et développement asymptotique</td>
                            <td>Analyse asymptotique</td>
                            <td>Lundi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. BATHILY</td>
                        </tr>
                        <tr>
                            <td>Mathématiques financières et économétrie</td>
                            <td>Econométrie</td>
                            <td>Lundi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. GASSAMA</td>
                        </tr>
                        <tr>
                            <td>Analyse et développement asymptotique</td>
                            <td>Analyse asymptotique</td>
                            <td>Mardi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. BATHILY</td>
                        </tr>
                        <tr>
                            <td>Mathématiques financières et économétrie</td>
                            <td>Econométrie</td>
                            <td>Mardi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. GASSAMA</td>
                        </tr>
                        <tr>
                            <td>Mathématiques financières et économétrie</td>
                            <td>Mathématiques financières</td>
                            <td>Mercredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. GUEYE</td>
                        </tr>
                        <tr>
                            <td>Mathématiques financières et économétrie</td>
                            <td>Mathématiques financières</td>
                            <td>Vendredi</td>
                            <td>09h - 13h</td>
                            <td>A définir</td>
                            <td>M. GUEYE</td>
                        </tr>
                        <tr>
                            <td>Mathématiques financières et économétrie</td>
                            <td>Econométrie</td>
                            <td>Vendredi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. GASSAMA</td>
                        </tr>
                        <tr>
                            <td> Cybersécurité</td>
                            <td>CyberCriminalité</td>
                            <td>Samedi</td>
                            <td>15h - 19h</td>
                            <td>A définir</td>
                            <td>M. WADE</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="accordion">Semestre 4
                <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
            </button>

            <div class="panel">
                <h2 style="color: red;">Pas encore disponible</h2>
            </div>

        </div>
        <p style="text-align: center"><a href="https://www.uvs.sn/wp-content/uploads/2019/08/9_ao%C3%BBt_2019_FICHE-FORMATION-co-diplomation-UVS_UT_MASTER-MOD%C3%89LISATION-MATH%C3%89MATIQUE-ANALYSE-ET-SIMULATION-NUM%C3%89RIQUES.pdf" target="_blank" >Télécharger la maquette</a></p>


    </div>


</section>


