<section id="allocation">
    <h2>Allocation des Salles</h2>

    <button class="accordion">Salle 1
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Heures</th>
                    <th>Disponibilité</th>
                    <th>Occupée par</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08h - 09h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>09h - 10h</td>
                    <td>Occupée</td>
                    <td>M.Goudiaby</td>
                </tr>
                <tr>
                    <td>10h - 11h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>11h - 12h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>12h - 13h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>13h - 14h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>14h - 15h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>15h - 16h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>16h - 17h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>14h - 15h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>16h - 17h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>17h - 18h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
                <tr>
                    <td>18h - 19h</td>
                    <td>Occupée</td>
                    <td>M. Goudiaby</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="accordion">Salle 2
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Salle 3
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Salle 4
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Salle 5
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Salle 6
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Salle 7
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Salle 8
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Salle 9
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Salle 10
        <span id="plus" class="ndambe glyphicon glyphicon-plus" style="float: right"></span>
    </button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</section>

