<section>
    <h2>Salles Disponibles</h2>
    <table class="table table-bordered" id="dispo">
        <thead>
            <tr>
                <th>Heures</th>
                <th>Salles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08h - 09h</td>
                <td>Salle 7</td>
            </tr>
            <tr>
                <td>08h - 09h</td>
                <td>Salle 12</td>
            </tr>
            <tr>
                <td>09h - 10h</td>
                <td>Salle 3</td>
            </tr>
        </tbody>
    </table>
</section>

    <style>
        #dispo{
            background-color: white;
        }
    </style>