<section id="menu-icon">
    <div class="glyphicon glyphicon-refresh" >
        <p><a href="@routes.Occupeess.list()">Allocation des salles</a></p>
    </div>
    <div class="glyphicon glyphicon-ok-circle" >
        <p><a href="#">Salles disponibles</a></p>
    </div>
    <div class="glyphicon glyphicon-remove-circle" >
        <p><a href="@routes.Occupeess.list()">Salles occupées</a></p>
    </div>
    <div class="glyphicon glyphicon-dashboard" >
        <p><a href="@routes.Total.list()">Statistiques</a></p>
    </div>
</section>