<section id="occupe">
    <h2>Salles Occupées</h2>
    <table class="table table-bordered" id="occupe">
        <thead>
            <tr>
                <th>Heures</th>
                <th>Salles</th>
                <th>Occupée par</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08h - 09h</td>
                <td>Salle 7</td>
                <td>M. Badiane</td>
            </tr>
            <tr>
                <td>08h - 09h</td>
                <td>Salle 12</td>
                <td>M. Badiane</td>
            </tr>
            <tr>
                <td>09h - 10h</td>
                <td>Salle 3</td>
                <td>M. Badiane</td>
            </tr>
        </tbody>
    </table>
</section>

<style>
        #occupe{
            background-color: white;
        }
    </style>