<section id="viz">
    <h2>Statistiques</h2>
    <div style="background-color: white">
        <table class="table table-bordered" style="border: 1px solid black">
            <thead>
                <tr>
                    <th>Cliquez sur les liens pour voir</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        <td><a href="@routes.Total.list()">Taux de réussite Totale</a></td>
                </tr>
                <tr>
                    <td><a href="@routes.TotalBar.list()">Taux de réussite par filière</a></td>
                </tr>
                <tr>
                    <td><a href="@routes.Moyenne_Classes.list()">Moyenne par classe</a></td>
                </tr>
                <tr>
                    <td><a href="@routes.Moyenne_Fils.list()">Moyenne par filière</a></td>
                </tr>
                <tr>
                    <td><a href="@routes.Moyenne_Classes.list()">Mention</a></td>
                </tr>
        </table><br>
    </div>

</section>