<section id="viz">
    <div style="margin-left: 8%; margin-right: 8%; background-color: white">
        <table class="table table-bordered" style="border: 1px solid black">
            <thead>
                    <h3 style="text-align: center">Cliquez pour visualiser</h3>
            <tbody>
                <tr>
                    <td><a href="@routes.Total.list()">Taux de réussite Totale</a></td>
                    <td><a href="@routes.TotalBar.list()">Taux de réussite par filière</a></td>
                    <td><a href="@routes.Moyenne_Classes.list()">Moyenne par classe</a></td>
                    <td><a href="@routes.Moyenne_Fils.list()">Moyenne par filière</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</section>